#world{
    position:fixed;
    right: 350px;
    top: 200px;
    z-index: -1;
}
div h1{
    z-index: 99;
}
div a{
    z-index: -1;
}
#北美洲{
    position:fixed;
    left: 170px;
    top: 300px;
}
#南美洲{
    position:fixed;
    left: 280px;
    top: 500px;
}
#歐洲{
    position:fixed;
    left: 560px;
    top: 285px;
}
#非洲{
    position:fixed;
    left: 530px;
    top: 400px;
}
#亞洲{
    position:fixed;
    left: 760px;
    top: 320px;
}
#大洋洲{
    position:fixed;
    left: 920px;
    top: 560px;
}
#南極洲{
    position:fixed;
    left: 530px;
    top: 750px;
}
#海洋{
    position:fixed;
    left: 350px;
    top: 350px;
}
main img{
    width: unset;
    height: 600px;
}
main a img{
    height: 50px;
    z-index: 0;
}
a img:hover{
    filter:invert(80%)
}
h1{
    font-family: '微軟正黑體';
    background-color: white;
}
footer a{
    position: fixed;
    bottom : 0px;
    left : 0px;
}
@media screen and (max-width: 1918px){
    #world{
        right: unset;
        top: 280px;
    }
    #北美洲{
        position:fixed;
        left: 170px;
        top: 350px;
    }
    #南美洲{
        position:fixed;
        left: 280px;
        top: 550px;
    }
    #歐洲{
        position:fixed;
        left: 560px;
        top: 335px;
    }
    #非洲{
        position:fixed;
        left: 530px;
        top: 450px;
    }
    #亞洲{
        position:fixed;
        left: 760px;
        top: 370px;
    }
    #大洋洲{
        position:fixed;
        left: 920px;
        top: 610px;
    }
    #南極洲{
        position:fixed;
        left: 530px;
        top: 790px;
    }
    #海洋{
        position:fixed;
        left: 350px;
        top: 400px;
    }
}
@media screen and (max-width: 1556px){
    #world{
        right: unset;
        top: 235px;
    }
}
@media screen and (max-width:1185px){
    main img{
        height: 400px;
    }
    #world{
        top: 235px;
    }
    #北美洲{
        position:fixed;
        left: 90px;
        top: 300px;
    }
    #南美洲{
        position:fixed;
        left: 170px;
        top: 430px;
    }
    #歐洲{
        position:fixed;
        left: 350px;
        top: 290px;
    }
    #非洲{
        position:fixed;
        left: 330px;
        top: 380px;
    }
    #亞洲{
        position:fixed;
        left: 480px;
        top: 320px;
    }
    #大洋洲{
        position:fixed;
        left: 580px;
        top: 480px;
    }
    #南極洲{
        position:fixed;
        left: 330px;
        top: 590px;
    }
    #海洋{
        position:fixed;
        left: 200px;
        top: 350px;
    }
}
@media screen and (max-width:983px){
    #world{
        top: 280px;
    }
    #北美洲{
        position:fixed;
        left: 90px;
        top: 340px;
    }
    #南美洲{
        position:fixed;
        left: 170px;
        top: 480px;
    }
    #歐洲{
        position:fixed;
        left: 350px;
        top: 320px;
    }
    #非洲{
        position:fixed;
        left: 330px;
        top: 410px;
    }
    #亞洲{
        position:fixed;
        left: 480px;
        top: 350px;
    }
    #大洋洲{
        position:fixed;
        left: 580px;
        top: 510px;
    }
    #南極洲{
        position:fixed;
        left: 330px;
        top: 640px;
    }
    #海洋{
        position:fixed;
        left: 200px;
        top: 380px;
    }
}
@media screen and (max-width:780px){
    #world{
        right: unset;
        top: 280px;
    }
    main img{
        height: 300px;
    }
    #北美洲{
        position:fixed;
        left: 50px;
        top: 330px;
    }
    #南美洲{
        position:fixed;
        left: 100px;
        top: 430px;
    }
    #歐洲{
        position:fixed;
        left: 230px;
        top: 320px;
    }
    #非洲{
        position:fixed;
        left: 220px;
        top: 370px;
    }
    #亞洲{
        position:fixed;
        left: 330px;
        top: 330px;
    }
    #大洋洲{
        position:fixed;
        left: 410px;
        top: 450px;
    }
    #南極洲{
        position:fixed;
        left: 220px;
        top: 540px;
    }
    #海洋{
        position:fixed;
        left: 130px;
        top: 350px;
    }
}
@media screen and (max-width:655px){
    #world{
        top: 315px;
    }
    #北美洲{
        position:fixed;
        left: 50px;
        top: 360px;
    }
    #南美洲{
        position:fixed;
        left: 100px;
        top: 460px;
    }
    #歐洲{
        position:fixed;
        left: 230px;
        top: 350px;
    }
    #非洲{
        position:fixed;
        left: 220px;
        top: 400px;
    }
    #亞洲{
        position:fixed;
        left: 330px;
        top: 360px;
    }
    #大洋洲{
        position:fixed;
        left: 410px;
        top: 490px;
    }
    #南極洲{
        position:fixed;
        left: 220px;
        top: 570px;
    }
    #海洋{
        position:fixed;
        left: 130px;
        top: 380px;
    }
}
@media screen and (max-width:615px){
    #world{
        height: 200px;
    }
    div a img{
        height: 35px;
    }
    #北美洲{
        position:fixed;
        left: 30px;
        top: 350px;
    }
    #南美洲{
        position:fixed;
        left: 65px;
        top: 410px;
    }
    #歐洲{
        position:fixed;
        left: 160px;
        top: 330px;
    }
    #非洲{
        position:fixed;
        left: 150px;
        top: 380px;
    }
    #亞洲{
        position:fixed;
        left: 225px;
        top: 345px;
    }
    #大洋洲{
        position:fixed;
        left: 275px;
        top: 425px;
    }
    #南極洲{
        position:fixed;
        left: 150px;
        top: 485px;
    }
    #海洋{
        position:fixed;
        left: 80px;
        top: 360px;
    }
}
@media screen and (max-width:504px){
    #world{
        top: 355px;
    }
    #北美洲{
        position:fixed;
        left: 30px;
        top: 390px;
    }
    #南美洲{
        position:fixed;
        left: 65px;
        top: 460px;
    }
    #歐洲{
        position:fixed;
        left: 160px;
        top: 380px;
    }
    #非洲{
        position:fixed;
        left: 150px;
        top: 430px;
    }
    #亞洲{
        position:fixed;
        left: 225px;
        top: 395px;
    }
    #大洋洲{
        position:fixed;
        left: 275px;
        top: 470px;
    }
    #南極洲{
        position:fixed;
        left: 150px;
        top: 525px;
    }
    #海洋{
        position:fixed;
        left: 80px;
        top: 410px;
    }
}
@media screen and (max-width:408px){
    #world{
        top: 400px;
        height: 150px;
    }
    #北美洲{
        position:fixed;
        left: 15px;
        top: 420px;
    }
    #南美洲{
        position:fixed;
        left: 40px;
        top: 470px;
    }
    #歐洲{
        position:fixed;
        left: 110px;
        top: 415px;
    }
    #非洲{
        position:fixed;
        left: 100px;
        top: 460px;
    }
    #亞洲{
        position:fixed;
        left: 160px;
        top: 425px;
    }
    #大洋洲{
        position:fixed;
        left: 195px;
        top: 485px;
    }
    #南極洲{
        position:fixed;
        left: 100px;
        top: 525px;
    }
    #海洋{
        position:fixed;
        left: 55px;
        top: 440px;
    }
}
@media screen and (max-width:335px){
    #world{
        top: 440px;
    }
    #北美洲{
        position:fixed;
        left: 15px;
        top: 460px;
    }
    #南美洲{
        position:fixed;
        left: 40px;
        top: 510px;
    }
    #歐洲{
        position:fixed;
        left: 110px;
        top: 455px;
    }
    #非洲{
        position:fixed;
        left: 100px;
        top: 490px;
    }
    #亞洲{
        position:fixed;
        left: 160px;
        top: 465px;
    }
    #大洋洲{
        position:fixed;
        left: 195px;
        top: 530px;
    }
    #南極洲{
        position:fixed;
        left: 100px;
        top: 565px;
    }
    #海洋{
        position:fixed;
        left: 55px;
        top: 480px;
    }
}
@media screen and (max-width:300px){
    #world{
        position: unset;
    }
    #北美洲{
        position:fixed;
        left: 0px;
        top: -50px;
    }
    #南美洲{
        position:fixed;
        left: 0px;
        top: -50px;
    }
    #歐洲{
        position:fixed;
        left: 0px;
        top: -50px;
    }
    #非洲{
        position:fixed;
        left: 0px;
        top: -50px;
    }
    #亞洲{
        position:fixed;
        left: 0px;
        top: -50px;
    }
    #大洋洲{
        position:fixed;
        left: 0px;
        top: -50px;
    }
    #南極洲{
        position:fixed;
        left: 0px;
        top: -50px;
    }
    #海洋{
        position:fixed;
        left: 0px;
        top: -50px;
    }
}
@media screen and (orientation: landscape){
    footer{
        height: 0px;
    }
    #world{
        position:unset;
    }
    #北美洲{
        position:absolute;

    }
    #南美洲{
        position:absolute;

    }
    #歐洲{
        position:absolute;

    }
    #非洲{
        position:absolute;
  
    }
    #亞洲{
        position:absolute;

    }
    #大洋洲{
        position:absolute;

    }
    #南極洲{
        position:absolute;

    }
    #海洋{
        position:absolute;

    }
}
