body{
    background-color: rgb(32, 32, 32);
}
div h1{
    font-size: 50px;
    color: white;
}
.picture1{
    position: absolute;
    left: 10%;
    top: 25%;
}
.picture1 img{
    width: 800px;
}
.name1{
    position: absolute;
    top: 25%;
    left: 60%;
}
.sort1{
    position: absolute;
    top: 35%;
    left: 60%;
}
.place1{
    position: absolute;
    top: 45%;
    left: 60%;
}

.picture2{
    position: absolute;
    left: 10%;
    top: 125%;
}
.picture2 img{
    width: 800px;
}
.name2{
    position: absolute;
    top: 125%;
    left: 60%;
}
.sort2{
    position: absolute;
    top: 135%;
    left: 60%;
}
.place2{
    position: absolute;
    top: 145%;
    left: 60%;
}

.picture3{
    position: absolute;
    left: 10%;
    top: 225%;
}
.picture3 img{
    width: 800px;
}
.name3{
    position: absolute;
    top: 225%;
    left: 60%;
}
.sort3{
    position: absolute;
    top: 235%;
    left: 60%;
}
.place3{
    position: absolute;
    top: 245%;
    left: 60%;
}
.foo{
    position: absolute;
    top: 310%;
    width: 99%;
    bottom: 0;
    height: 60px;
    text-align: center;
    border: rgb(126, 124, 124) solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-width: 0.5px;
    color: rgb(126, 124, 124);
}
@media screen and (max-width: 1650px) {
    .picture1 img{
        width: 700px;
    }
    .picture2 img{
        width: 700px;
    }
    .picture3 img{
        width: 700px;
    }
    .picture2{
        top: 115%;
    }
    .name2{
        top: 115%;
    }
    .sort2{
        top: 125%;
    }
    .place2{
        top: 135%;
    }
    .picture3{
        top: 205%;
    }
    .name3{
        top: 205%;
    }
    .sort3{
        top: 215%;
    }
    .place3{
        top: 225%;
    }
    .foo{
        top: 280%;
    }
}
@media screen and (max-width: 1450px) {
    .picture1 img{
        width: 600px;
    }
    .picture2 img{
        width: 600px;
    }
    .picture3 img{
        width: 600px;
    }
    .picture2{
        top: 105%;
    }
    .name2{
        top: 105%;
    }
    .sort2{
        top: 115%;
    }
    .place2{
        top: 125%;
    }
    .picture3{
        top: 185%;
    }
    .name3{
        top: 185%;
    }
    .sort3{
        top: 195%;
    }
    .place3{
        top: 205%;
    }
    .foo{
        top: 250%;
    }
}
@media screen and (max-width: 1250px) {
    .picture1 img{
        width: 500px;
    }
    .picture2 img{
        width: 500px;
    }
    .picture3 img{
        width: 500px;
    }
    .picture2{
        top: 95%;
    }
    .name2{
        top: 95%;
    }
    .sort2{
        top: 105%;
    }
    .place2{
        top: 115%;
    }
    .picture3{
        top: 165%;
    }
    .name3{
        top: 165%;
    }
    .sort3{
        top: 175%;
    }
    .place3{
        top: 185%;
    }
    .foo{
        top: 220%;
    }
}
@media screen and (max-width: 1050px) {
    div h1{
        font-size: 30px;
    }
    .picture1 img{
        width: 400px;
    }
    .picture2 img{
        width: 400px;
    }
    .picture3 img{
        width: 400px;
    }
    .picture2{
        top: 85%;
    }
    .name2{
        top: 85%;
    }
    .sort2{
        top: 95%;
    }
    .place2{
        top: 105%;
    }
    .picture3{
        top: 145%;
    }
    .name3{
        top: 145%;
    }
    .sort3{
        top: 155%;
    }
    .place3{
        top: 165%;
    }
    .foo{
        top: 190%;
    }
}
@media screen and (max-width: 850px) {
    div h1{
        font-size: 20px;
    }
    .picture1 img{
        width: 300px;
    }
    .picture2 img{
        width: 300px;
    }
    .picture3 img{
        width: 300px;
    }
    .picture1{
        top: 25%;
    }
    .name1{
        top: 25%;
    }
    .sort1{
        top: 30%;
    }
    .place1{
        top: 35%;
    }
    .picture2{
        top: 75%;
    }
    .name2{
        top: 75%;
    }
    .sort2{
        top: 80%;
    }
    .place2{
        top: 85%;
    }
    .picture3{
        top: 125%;
    }
    .name3{
        top: 125%;
    }
    .sort3{
        top: 130%;
    }
    .place3{
        top: 135%;
    }
    .foo{
        top: 160%;
    }
}
@media screen and (max-width: 650px) {
    div h1{
        font-size: 20px;
    }
    .picture1 img{
        width: 200px;
    }
    .picture2 img{
        width: 200px;
    }
    .picture3 img{
        width: 200px;
    }
    .picture2{
        top: 65%;
    }
    .name2{
        top: 65%;
    }
    .sort2{
        top: 70%;
    }
    .place2{
        top: 75%;
    }
    .picture3{
        top: 105%;
    }
    .name3{
        top: 105%;
    }
    .sort3{
        top: 110%;
    }
    .place3{
        top: 115%;
    }
    .foo{
        top: 130%;
    }
}
@media screen and (max-width: 450px) {
    div h1{
        font-size: 10px;
    }
    .picture1 img{
        width: 150px;
    }
    .picture2 img{
        width: 150px;
    }
    .picture3 img{
        width: 150px;
    }
    .picture2{
        top: 55%;
    }
    .name2{
        top: 55%;
    }
    .sort2{
        top: 60%;
    }
    .place2{
        top: 65%;
    }
    .picture3{
        top: 85%;
    }
    .name3{
        top: 85%;
    }
    .sort3{
        top: 90%;
    }
    .place3{
        top: 95%;
    }
    .foo{
        top: 105%;
    }
}
[data-aos="example"] {
    /*初始值*/
    opacity: 0;
    transform: rotate(360deg);
}

[data-aos="example"].aos-animate {
    transform: rotate(0);
    opacity: 1;
}